/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* 
button{
  width: 100px;
  height: 34px;
  color: aqua;
  background-color: blueviolet;
  border-radius: 8px;
  border-color: black;
} */
/* div{
  width: 500px;
  height: 200px;
  padding-left: 2%;
  padding-top: 5px;
  border-radius: 10px;
  background-color: rgb(197, 223, 214);
}
.avatar{
  border-radius: 50%;
} */







